

/* site modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #00000080;
}

.modal-open{
  display: block;
}


.modal__wrapper {
  width: 561px;
  height: 485px;
  margin: 5% auto;
  -webkit-animation-name: modal-animation;
  animation-name: modal-animation;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: none;
  animation-iteration-count: none;
  animation-direction: alternate-reverse;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes modal-animation{
  from{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    
  }
  to{
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes modal-animation{
  from{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    
  }
  to{
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.modal__wrapper{
  width: 100%;
  max-width: 700px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 43px 78px 69px 77px;
  background-color: #fff;
  border-radius: 10px;
}
.modal__btn {
  display: block;
  width: 16px;
  height: 16px;
  border: 0;
  margin-left: auto;
  margin-bottom: 17px;
  background-image: url("../../images/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}
.modal__title{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  margin: 0;
  margin-bottom: 35px;
  color: #000000;
}

.show-block{
  display: block;
}